@model List<ShoppingCartCA.Models.ProductModel>

@foreach (var product in Model)
{
    <div class="col-md-4" style="text-align:center; height:400px; ">
        <img src="@product.imagePath" width="200px;" height="200px;" />
        <h3>@product.productName</h3>
        <p style="text-align:left;" alt="@product.description">
            @{
                string desc = product.description;
                if (product.description.Length > 100)
                { desc = product.description.Substring(0, 99); }
            }


            @desc
        </p>
        
            <a class="btn btn-success" style="text-decoration:none; " onclick="AddToCart(@product.productId)">
                
                $ @decimal.Round(product.price, 2).ToString() - <i class="glyphicon glyphicon-shopping-cart"></i> Add To Cart 
            </a>

        
    </div>

}
