<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Shopping Cart", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["UserId"] != null)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Purchase History", "PurchaseHistory", "PurchaseHistory")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }
                </ul>
                @if (Session["UserId"] != null)
                {
                    <div class="header-right">
                        <div class="box_1" id="cart">
                            <a href="@Url.Action("ViewCart", "Cart")">

                                @{
                                    int count = 0;
                                    if (Session["Cart"] != null)
                                    { count = ((List<int>)Session["Cart"]).Count(); }

                                }
                                <h3><i class="glyphicon glyphicon-shopping-cart"></i> @count  item(s) </h3>
                            </a>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                }

                @*<div>
                        @Html.ActionLink((string)ViewBag.LogInOut, "Home")

                    </div>*@

                @*@if (Request.IsAuthenticated)
                    {
                        <strong>@Html.Encode(User.Identity.Name)</strong>
                        @Html.ActionLink("Log Out", "Logout", "Home")
                    }
                    else
                    {
                        <strong>@Html.Encode(User.Identity.Name)</strong>
                        @Html.ActionLink("Log In", "Login", "Home")
                    }*@
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="col-md-12">
                <p>&copy; @DateTime.Now.Year - Team 1B</p>
            </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    function loadCart() {
        $('#cart').load(document.URL + ' #cart');
    }

</script>