<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Shopping Cart CA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                </ul>
                <div class="header-right">
                    <div class="box_1" id="cart">
                        <a href="@Url.Action("Index", "Home")">

                            @{
                                int count = 0;
                                //List<int[]> intList = (List<int[]>)TempData["OrderList"];
                                //TempData.Keep("OrderList");
                                //if (intList != null)
                                //{
                                //    count = intList.Count;
                                //}
                            }
                            <h3><i class="glyphicon glyphicon-shopping-cart"></i> @count  item(s) </h3>
                        </a>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                @*<div>
            @Html.ActionLink((string)ViewBag.LogInOut, "Home")

        </div>*@

                @*@if (Request.IsAuthenticated)
        {
            <strong>@Html.Encode(User.Identity.Name)</strong>
            @Html.ActionLink("Log Out", "Logout", "Home")
        }
        else
        {
            <strong>@Html.Encode(User.Identity.Name)</strong>
            @Html.ActionLink("Log In", "Login", "Home")
        }*@
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
