@model List<ShoppingCartCA.Models.UserCartModel>
@{
    /**/

    ViewBag.Title = "View Cart";
}

<h2>ViewCart</h2>
<div id="totalPrice" class="row" style="text-align:right; padding-right:10%;">
    @{ var total = Model != null ? Model.Sum(x => x.productTotalPrice) : 0;}
    Total : $@total
</div>
@if (Model == null || Model.Count() <= 0)
{
    <div class="row" style="padding-left:10%; padding-right:10%;">
        <h3>There is no product added to the cart currently.</h3>
    </div>
}
else
{


    foreach (var cart in Model)
    {
        <div class="row" style="padding-left:10%; padding-right:10%;">

            <div class="col-md-4">
                <img src="@cart.product.imagePath" width="50%;" height="50%;" />
                <h2>@cart.product.productName</h2>
                <p style="text-align:left;">
                    @cart.product.description
                </p>
            </div>
            <div class="col-md-4" style="padding-top:8%;">
                <p>
                    Price : @cart.product.price
                </p>
                <p>
                    Quantity : <input id="txtQty" value=@cart.quantity min="0" max="50" step="1" type="number" oninput="changeQty(@cart.product.productId,this,@cart.product.price);">
                    @*onchange="changeQty(@cart.product.productId);"*@

                </p>
            </div>

        </div>
    }
}
<script type="text/javascript">

    function changeQty(r,v) {
        debugger;
        var qty = v.value;
        //alert(qty);
        var url = "../Cart/ChangeQuantity?Qty=" + qty+"&PID="+r;
        $.ajax({
            url: url,
            type: "POST",
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //alert("Success !!! " + data);
                document.getElementById("totalPrice").innerHTML = "Total : $" + data;
                loadCart();
                
            }

        });
    }
</script>








